.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

.content {
  margin: auto;

  display: flex;
  flex-direction: column;
  background-color: rgb(222, 227, 233);
  align-content: center;
}

.articlelist {
  text-decoration: none;
}

header {
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: #369;
  color: white;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 40px;
}

li {
  text-decoration: none;
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-color: grey;
  border-radius: 3px;
  padding: 10px;
  background: white;
}

#searchBox {
  width: 1000px;
  height: 25px;
}