.App {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    ". main .";
  /* height: 100vh; */
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  /* grid-area: header; */
}

div {
  grid-column-start: 2;
  grid-column-end: 3;
}
